In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

sns.set()

In [12]:
# import the data
full_df = pd.read_csv('tco-joined.csv')

## Identify two categorical features that you would like to test for significance. One of the categorical values should have more than two possible values

- Under 30
- Contract type

### Under 30 Hypothesis Test

In [13]:
# split the DF on the under_30 column
under_30 = full_df.loc[full_df["under_30"]=="Yes"]
not_under_30 = full_df.loc[full_df["under_30"]=="No"]

In [14]:
gb_under_30 = under_30.groupby("churn_label").agg({"customer_id":"count"})
gb_not_under_30 = not_under_30.groupby("churn_label").agg({"customer_id":"count"})

In [15]:
gb_under_30

             customer_id
churn_label
No                  1097
Yes                  304

In [16]:
gb_not_under_30

             customer_id
churn_label
No                  4077
Yes                 1565

In [26]:
full_df["under_30"].value_counts()

No     5642
Yes    1401
Name: under_30, dtype: int64

In [17]:
nobs = [len(under_30), len(not_under_30)]
successes = [gb_under_30.loc["Yes", "customer_id"], gb_not_under_30.loc["Yes", "customer_id"]]

In [28]:
proportions_ztest(successes, nobs)

(-4.582527272460186, 4.593897715987561e-06)

This result is significant. It has a very low p-value

### Contract Type Hypothesis Test

In [25]:
full_df["is_mtm"] =  ["Yes" if con_type == "Month-to-Month" else "No" for con_type in full_df["contract"]]

In [30]:
month_to_month = full_df.loc[full_df["is_mtm"]=="Yes"]
not_month_to_month = full_df.loc[full_df["under_30"]=="No"]

In [31]:
gb_mtm = month_to_month.groupby("churn_label").agg({"customer_id":"count"})
gb_not_mtm = not_month_to_month.groupby("churn_label").agg({"customer_id":"count"})

In [32]:
gb_mtm

             customer_id
churn_label
No                  1955
Yes                 1655

In [33]:
gb_not_mtm

             customer_id
churn_label
No                  4077
Yes                 1565

In [34]:
full_df["is_mtm"].value_counts()

Yes    3610
No     3433
Name: is_mtm, dtype: int64

In [35]:
nobs_mtm = [len(month_to_month), len(not_month_to_month)]
successes_mtm = [gb_mtm.loc["Yes", "customer_id"], gb_not_mtm.loc["Yes", "customer_id"]]

In [ ]:
proportions_ztest(successes_mtm, nobs)